header {
  display: table;
  width: 100%;
  background-color: #00E6E6;
}

header a, header h1 {
  display: table-cell;
  width: 30%;
  padding: 10px 30px;
  text-align: center; 
}

#control-toggle, #custom-toggle {
  text-decoration: underline;
  color: blue;
}

#robot-name {
  font-weight: bold;
}

.robot-env {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.robot {
  position: relative;
  left: 200px;
  top: 20px;
}

.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid #00E6E6;
  border-bottom: 80px solid #008080;
  position: relative;
  left: 140px;
}

@keyframes blink {
  50% {
    background: radial-gradient(circle, red 15%, transparent 40%), #4C1A80;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(circle, red 15%, transparent 40%), #4C1A80;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(circle, red 15%, transparent 40%), #4C1A80;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
.laser {
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
}
.brain {
  background: radial-gradient(circle, #00E6E6 15%, transparent 40%), #4C1A80;
  background: -moz-radial-gradient(circle, #00E6E6 15%, transparent 40%), #4C1A80; 
  background: -webkit-radial-gradient(circle, #00E6E6 15%, transparent 40%), #4C1A80;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #008080;
  position: relative;
  left: 70px;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #4C1A80;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}
.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #008080;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: relative;
  top: -320px;
  left: -190px;
  z-index: -1;
}
.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #008080;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -620px;
  left: 190px;
  z-index: -1;
}
.foot {
  height: 40px;
  width: 40px;
  background: #00E6E6;
  border-radius: 40px;
  border: 15px solid #008080;
  position: relative;
  left: 110px;
  top: -10px;
  z-index: -1;
}

@keyframes dance {
  from {
    left: 800px;
  }
}
@-webkit-keyframes dance {
  from {
    left: 800px;
  }
}
@-moz-keyframes dance {
  from {
    left: 800px;
  }
}
img {
  animation: dance 4s infinite;
  -webkit-animation: dance 4s infinite;
  -moz-animation: dance 4s infinite;
  position: relative;
  top: -300px;
  left: 400px;
  display: none;
}

/* CHANGE ROBOT COLOR */

/* Green Robot */
.color-green .beep {
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
}
.color-green .brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  border-bottom: 40px solid #666;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
}
.color-green .torso {
  border-top: 300px solid #bc6;
}
.color-green .left {
  color: #666;
}
.color-green .right {
  color: #666;
}
.color-green .foot {
  background: #ccc;
  border: 15px solid #999;
}

.color-green .laser {
  animation: blink-green .5s infinite;
  -webkit-animation: blink-green .5s infinite;
  -moz-animation: blink-green .5s infinite;
}

@keyframes blink-green {
  50% {
    background: radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
 @-webkit-keyframes blink-green {
  50% {
    background: -webkit-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
@-moz-keyframes blink-green {
  50% {
    background: -moz-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}

/* Yellow Robot */
.color-yellow .beep {
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
}
.color-yellow .brain {
  background: radial-gradient(circle, blue 15%, transparent 40%), #FFFF00;
  background: -moz-radial-gradient(circle, blue 15%, transparent 40%), #FFFF00; 
  background: -webkit-radial-gradient(circle, blue 15%, transparent 40%), #FFFF00;
  border-bottom: 40px solid #666;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
}
.color-yellow .torso {
  border-top: 300px solid #FFFF00;
}
.color-yellow .left {
  color: #666;
}
.color-yellow .right {
  color: #666;
}
.color-yellow .foot {
  background: #ccc;
  border: 15px solid #999;
}

.color-yellow .laser {
  animation: blink-yellow .5s infinite;
  -webkit-animation: blink-yellow .5s infinite;
  -moz-animation: blink-yellow .5s infinite;
}

@keyframes blink-yellow {
  50% {
    background: radial-gradient(circle, red 15%, transparent 40%), #FFFF00;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
 @-webkit-keyframes blink-yellow {
  50% {
    background: -webkit-radial-gradient(circle, red 15%, transparent 40%), #FFFF00;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}
@-moz-keyframes blink-yellow {
  50% {
    background: -moz-radial-gradient(circle, red 15%, transparent 40%), #FFFF00;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
  }
}